.section-title {
    text-align: center;
}

.job-form {
    margin-top: 1rem;
}

.deleteButton {
    margin-top: 1rem;
}

.company {
    text-align: left;
    margin-top: 1rem;
}

.changer {
    margin-top: 1rem;
}